# 파이썬 기초문법 학습

## 학습 목표
- 사칙연산, 변수계산, 조건문 if, 반복문 for, 반복문 while, 함수등의 기초문법을 이해할 수 있다. 
- Python의 기본적인 문법을 살펴보고 실습을 통해 프로그래밍에 대해 자신감을 얻는다.

### 연산(Operator)

In [1]:
1 + 2

3

In [2]:
3-2

1

In [3]:
16 / 2

8.0

In [1]:
# '//'은 무슨 연산기호?

In [5]:
3 * 9

27

In [2]:
# '%'은 무슨 연산기호?

### 변수에 문자열 또는 숫자 넣기(할당연산자(=))

In [1]:
a = 3   
b = 5

print(a/b)
a*b

0.6

15

In [2]:
a= 3
a = a + 1
print(a)

4

In [3]:
x = 3
y = a * x + b

y

17

### 문자열
- 문자열은 ‘ ’ 또는 “ ” 으로 묶어서 표시한다. 
- 여러 줄(line)으로 된 문자열은 """   """ 으로 묶어서 표시한다.

In [29]:
"Hello World!"

'MS Kim'

'MS Kim'

In [3]:
'Shayne's Name?'
# 왜 error가??

SyntaxError: invalid syntax (<ipython-input-3-bc9c9f6499ad>, line 1)

In [4]:
'''Hellow
  World'''

'Hellow\n  World'

### 출력하기

In [7]:
i = 3

print(i)

print(i + 2)

print(type(i))

j = 0.3

print(type(j))

3
5
<class 'int'>
<class 'float'>

In [4]:
print ('a')
print (a)

a
4

In [ ]:
# int => 'integer' => 숫자
# str => 'string' => 문자

'1'+'2'  # int? str?

In [1]:
LG = "LG전자"  # 객체에 문자 할당

In [2]:
LG

'LG전자'

In [3]:
LG + LG

'LG전자LG전자'

> **Q. 위에 선언한 객체 LG를 이용해 'LG전자 BS사업본부'를 출력하려면 어떻게 하면 될까요**

In [5]:
# 직접 한 번 해보세요^^

LG전자 BS사업본부

### 데이터가 어떤 Type인지 확인하기

- 프로그래밍을 할 때 데이터를 숫자 유형인지 문자 유형인지 등에 따라 구분
- 이것을 데이터 타입이라고 함
- Python 에서는 아래와 같은 것들이 있음

Variable Name|Value|Data Type
--|--|--
dog_name|'Freddie'|str (short for string)
age|9|int (short for integer)
is_vaccinated|True|bool (short for Boolean)
height|1.1|float (short for floating)
birth_year|2001|int (short for integer)

In [7]:
data = 0.5

In [8]:
type(data)

float

In [9]:
a = True
type(a)

bool

In [12]:
isinstance(data, str)    # 함수 isinstance()

False

## 포매팅(Formatting)

In [6]:
bannas =3                                    # Formatting: 문자열 안에 객체의 값을 삽입, 일종의 치환
days =5
"Shayne ate {0} bannas for {1} days".format(bannas, days)

'Shayne ate 3 bannas for 5 days'

In [7]:
model_a = 4.4534346547
model_b = 7.80932543454

#f=>float => 소수점
"A= {0:.1f}, B={1:.3f}".format(model_a, model_b)

'A= 4.5, B=7.809'

In [16]:
# 본인의 나이와 감정을 넣어 다음을 완성해 봅시다.
" 내 나이가 벌써 ㅇㅇ살이라니 세월이 참~ ㅇㅇㅇㅇ."

' 내 나이가 벌써 ㅇㅇ살이라니 세월이 참~ ㅇㅇㅇㅇ.'

### 변수에 특정값 넣기(리스트에서 가져와서 할당하기, 함수 반환값을 통해 할당하기)

In [72]:
Korea_player = ['박찬호', '류현진', '손흥민', '추신수']  
Korea_player

['박찬호', '류현진', '손흥민', '추신수']

In [73]:
Best_Korea_player = Korea_player[3]  
Best_Korea_player

'추신수'

- indexing과 slicing

In [15]:
LG = "LG 전자 BS본부"

In [16]:
LG[1]

'G'

In [17]:
LG[-2]

'본'

In [18]:
bs = LG[6] + LG[7] + LG[8] + LG[9]         
bs

'BS본부'

In [19]:
bs= LG[6:10]   
bs

'BS본부'

 > **Q. bs객체의 "BS본부"라는 속성 값을 "LG 전자 BS 사업본부" 값으로 수정해 봅시다.** (LG 객체의 indexing/slicing을 이용해서)

In [24]:
# 해봅시다.^^
bs = LG[0:8] + ' 사업' + LG[8:10]
bs

'LG 전자 BS 사업본부'

In [1]:
from random import randint # random 모듈에서 import라는 함수 이용

number = randint(1, 5)  
number

4

> **Q. 위에서 배운 것을 이용해서 Korea_player 리스트 중 랜덤하게 한 명을 선택해 출력해 봅시다.**

In [2]:
# 해봅시다.^^

### 논리형
- 파이선에서 논리값은 True 또는 False 중 하나를 가짐 (대소문자 구분)
- 논리값을 마치 숫자인 것으로 가정하고 연산을 할 수 있는데, 이때는 True는 1로 자동 변환되고, False는 0으로 계산됨

In [62]:
a = True              
b = False

a and b

False

In [63]:
a or b

True

In [91]:
not a

False

In [92]:
a == b

False

In [93]:
a != b

True

### 비교연산자

In [94]:
'A' == 'A'

True

In [95]:
1 == '1'

False

In [96]:
1 != '1'

True

In [97]:
1 > 3

False

In [98]:
100 <= 300

True

### 리스트(List)
- 여러 데이터를 한 곳에 묶는 방법으로 리스트를 가장 많이 사용, 리스트에는 임의의  자료 타입을 담을 수 있으며 리스트를 만들려면 [ ]를 사용

- 순서를 가진 요소가 있는 자료 구조
- ex) `players = ['투수 박찬호', '투수 류현진', '내야수 마차도', '외야수 추신수', '포수 이만수']`
- c.f. 튜플도 있는데 리스트와 차이가 있다면 튜플은 수정/삭제/추가가 불가능         <# 튜플은 () 이용>

- list만 추가/수정/삭제가 가능하므로 list에만 있는 메소드는 아래와 같음

메소드|설명
--|--
리스트.append(x)|리스트의 끝에 새로운 원소 x를 추가
리스트.extend(t)|리스트의 끝에 새로운 리스트 t를 추가
리스트.count(x)|리스트에서 x가 출현한 횟수를 셈
리스트.insert(i, x)|색인 i의 위치에 x를 삽입
리스트.pop(i)|리스트에서 원소 i를 제거하면서 i를 반환(출력), i를 생략하면 마지막 원소가 제거되면서 반환(출력)
리스트.remove(x)|x를 찾아서 제거

### 참고

- 함수(Function) vs 메소드(Method)
    - 함수: 특정 작업을 수행하는 명령어 모음
    - 메소드: 특정 객체에 적용되는 함수 e.g. 객체.메소드()

- 리스트 함수

In [1]:
a = [1, 2, 3, 4, 5]
len(a)

5

In [115]:
# 리스트 a에서 3대신 4를 넣고 싶다면?, List 수정

[1, 2, 4, 4, 5]

In [116]:
# 앞서 넣었던 4를 다시 지우고 싶다면?

[1, 2, 4, 5]

In [117]:
del a[2:]           
a

[1, 2]

- 리스트 메소드

In [67]:
a = [ 3, 4, 1, 2, 5]
a.sort()
a

[1, 2, 3, 4, 5]

In [69]:
a = [ 3, 4, 1, 2, 5]
a.reverse()
a

[5, 2, 1, 4, 3]

In [73]:
a = [ 3, 4, 1, 2, 5]
a.index(3)      # 위치 반환

0

In [31]:
a = [ 3, 4, 1, 2, 5]
a.insert(0, 4)             # a[0]의 위치에 4를 삽입
a

[4, 3, 4, 1, 2, 5]

In [32]:
a.remove(4)             
a

[3, 4, 1, 2, 5]

In [33]:
a.append(7)
a

[3, 4, 1, 2, 5, 7]

In [34]:
a * 2

[3, 4, 1, 2, 5, 7, 3, 4, 1, 2, 5, 7]

In [13]:
# slicing(범위 지정)해서 한꺼번에 출력하기
## a[]

- 리스트내에 어떤 항목이 들어 있는지를 확인하고 들어 있으면 True를 리턴한다.

In [129]:
1 in odd

True

In [62]:
print(odd)
odd.append(11)
odd[2]=6
odd

[1, 3, 5, 7, 9]

[1, 3, 6, 7, 9, 11]

- 둘 이상의 리스트를 붙이려면 +를 사용해 다음과 같이 간단히 붙일 수도 있다.

### 튜플(Tuple)
- 다음의 사항만 제외하고는 리스트와 매우 유사
    - 리스트는 [], 튜플은 ()
    - 리스트는 값의 생성/삭제/수정이 가능, 튜플은 No

- 튜플 보기
    - t1 = ()
    - t2 = (1,)
    - t3 = (1, 2, 3)
    - t4 = 1, 2, 3
    - t5 = ('a', 'b', 'ab')                 
    #튜플을 사용해야 하는 경우는 수치가 바뀌지 않아야 할 경우, 대부분의 경우는 프로그래밍하면서 수치값이 바뀌는 경우가 많아 주로 리스트를 사용

In [146]:
t1 = (1, 2, 'a', 'b')
t1[1]

2

In [147]:
# slicing을 이용해 아래와 같이 나오도록 해보세요^^

(2, 'a', 'b')

In [148]:
t2 = 3, 4
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [149]:
t2 * 3

(3, 4, 3, 4, 3, 4)

In [150]:
# t1의 원소 개수 알려면?

4

### 딕셔너리(Dictionary)
- 이름 = 김명수, 나이 = 29세 등으로 대응관계를 나타내는 자료형(연관배열, 해시)
- Key 값과 Value 값을 가지는 자료형
- '이름'은 Key, '김명수'는 Value (Key 값은 변함 없는 값으로 설정)
- {}를 사용해 표현

In [151]:
a = {1:'a', 2:'b'}
a[1]              # 딕셔너리 a[1] 은 리스트, 튜플의 a[1]과 전혀 다름, 딕셔너리 a[1]의 1은 Key값

'a'

In [17]:
# 새로운 key값과 value를 넣어려면?

In [38]:
dic = {'name':'LG', 'phone':12345, 'birth':'0101'}
# 'LG'값을 호출하려면?

- 딕셔너리 메소드

In [19]:
dic.keys()            # 데이터 분석시 데이터 pool을 구성하고 있는 속성(column) 종류를 알아볼 때 유용

dict_keys(['name', 'phone', 'birth'])

In [20]:
dic.values()

dict_values(['LG', 12345, '0101'])

In [21]:
dic.items()          # Key, Value 쌍을 반환

dict_items([('name', 'LG'), ('phone', 12345), ('birth', '0101')])

In [42]:
dic.get('birth')      # Key 값을 이용해 Value 얻기

'0101'

In [23]:
# 여러분이 이미 알고 있는 다른 방법으로 '0101'호출해 보세요^^

'0101'

## 반복문

### 1) while문

```
while 조건문:
    반복해서 문장을 수행해야 할 경우에 사용
    조건문이 참인 경우 반복해서 실행
    거짓인 경우 while 반복문을 빠져나옴
    따라서 조건문이 변경되는 로직이 있어야 하고,
    조건문이 변경되지 않으면 영원히 while 반복문을 빠져나오지 못함
```

In [180]:
increment = 0
while increment < 10:  # 조건문
    print(increment)

    increment += 1  # increment = increment + 1, 무한 루프에 빠지지 않도록 하기 위한 조건

0
1
2
3
4
5
6
7
8
9

In [181]:
# 위 내용을 참고로 거꾸로 10부터 1까지 출력하는 while 조건문을 코딩해 봅시다.^^

10
9
8
7
6
5
4
3
2
1

### 2) for문

```
for 문:
    정해진 대로 반복해서 해당 작업을 수행
    첫 번째 요소부터 마지막 요소까지 차례로 변수에 대입한 후, 해당 작업을 수행
```

In [194]:
list = ['one', 'two', 'three']
for i in list:
    print(i)

one
two
three

In [195]:
range(4)

range(0, 4)

In [196]:
for item in range(1, 4):  
    print(item)

1
2
3

In [197]:
# for문을 이용해서 1~10까지 숫자 중 홀수만 출력하고 싶다면?(step= 2)

1
3
5
7
9

In [79]:
for i in range(2,20):
    print(i*3)

6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57

In [29]:
# 빈 리스트를 만들고 일정 조건을 만족하는 값들로 빈 리스트를 채우기, append() 함수 이용

### 연습문제 구구단

> **Q. 프로그래밍 고전! 구구단 3단과 4단을 아래와 같이 출력해볼까요?!**

> ex)
```
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
```
> hint)

> `print("{} * {} = {}".format(a, b, a * b))`

In [44]:
# 작성해 봅시다~^^

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36